.navbar{
    
    padding: 10px;
    font-size: 20px;
    
}
.contact{
    margin-left: 1060px;
}
.anchor{
    margin: 30px; 
}
.heading{
    margin-left: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.objective{
    text-align: center;
    margin-top: 60px;
    background-color: orange;

    
}
.para{
    margin-top: -2px;
    padding: 10px;

}
h4{
    padding: 10px;
    
    
}
.skills{
 float:right;
}
.list{
    margin: 10px;
}
table thead tr th{
    border: 2px solid black;
    
}
     tbody tr td{
    border:2px solid black;
     text-align: center;
    
}
.heading{
    margin-left: 120px;
}
.exp{
    margin-top: 100px;












    
}